
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #555;
    color: whitesmoke;
}

h1 {
    margin: 0.5rem;
}

form {
    background-color: #ddd;
    color: #111;   
}

code {
    display: block;
    background-color: #111
    color(srgb whitesmoke whitesmoke whitesmoke)

}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /10%);
    padding: 1rem;

}