* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    background: #555;
    color: #fff
}

h1 {
    margin: .5rem;
}

form {
    background-color: #ddd;
    color: #111;   
}

input,
textarea,
 select {
    padding: .75rem;
    min-width: none;
}

button {
    background-color: navy;
}

code {
    display: block;
    background-color: #111
    color(srgb whitesmoke whitesmoke whitesmoke)

}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /10%);
    padding: 1rem;
}

.quiz-item {
    border: 10px;
}
