* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    max-width: 840px;
}

/* Claass Selectors*/

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    position: relative;
}

aside h2 {
    width: 100%;
    height: auto;
    display: block;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}