
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--body-font);
    color: var(--accent-color);
}

img {
    max-width: 100%;
    display: block;
}


header {
    width: 840px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*header,
main,
footer {
    width: 840px;
    margin: 0 auto
}*/

header img {
    width: 120px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


.hero {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;

}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;              /* fills the hero */
    background: rgba(0,0,0,0.45);
}

/*
.hero::after {
    content: "";
    position: absolute;
    background: rgba(21, 12, 12, 0.45);
}*/

/* Hero title */


.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    z-index: 2;
}



/*.hero h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
    font-size: 3rem;
    z-index: 2;
}*/

/* Article inside hero */


.hero article {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.85);
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 70%;
    z-index: 2;
}

/*.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 1rem;
    z-index: 2;

}*/

.hero article img {
    width: 80px;
    border-radius: 50%;
}

/* ---------------------------
   SECTIONS
---------------------------- */
main section {
    padding: 2rem;
}

main h2 {
    color: #0b3c5d;
    margin-bottom: 0.5rem;
}


.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}


/* ---------------------------
   FOOTER
---------------------------- */
footer {
    background-color: #0b3c5d;
    color: white;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer img {
    width: 32px;
    margin-left: 1rem;
}

.socialmedia a {
    text-decoration: none;
}